APP_ENV=local
APP_KEY=base64:BPv5g+oZkJ3Bf4vRA3HYK/YLOstjuClUq2WByJBRj3U=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://apis.dev.schoolcontrol.com/

DB_CONNECTION=core
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=schoolcontrol_security
DB_DATABASE_APP=schoolcontrol_security
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=sync

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=

UNIT_SOURCE=/var/www/files/